$linkActiveColor: #6969ff;
$linkColor: #000;

.wedding-shizznit {
  padding: 50px 0;
  .navbar {
    position: fixed;
    top: 0;
    background: #FFF;
    padding: 1em;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid;
    list-style-type: none;
    z-index: 1;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        color: $linkColor;
        &:visited {
          color: $linkColor;
        }
        &.active {
          color: $linkActiveColor
        }
      }
    }
  }
  .item-list {
    h3 {
      margin-left: 10px;
    }
  }
  .mobile {
    position: relative;
    .right {
      text-align: right;
    }
    .filters {
      display: none;
      width: 90%;
      margin: 20px auto;
      &.active {
        display: block;
      }
      label {
        display: block;
      }
      select {
        font-size: 14px;
      }
    }
    .filterToggle {
      position: absolute;
      top: -25px;
      right: 10px;
      &:hover {
        cursor: pointer;
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: darkgrey;
      height: 100vh;
      width: 100vw;
      opacity: 0.7;
    }
    .popup {
      z-index: 5;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: #FFF;
      width: 90%;
      padding: 15px;
      border: 1px solid #000;
      div {
        margin: 5px 0;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      table {
        margin: 0 10%;
        width: auto;
        tbody, tr {
          outline: none;
          height: auto;
        }
      }
    }
    table {
      table-layout: fixed;
      width: 90%;
      border-collapse: collapse;
      tbody {
        outline: none;
        tr {
          height: 75px;
          outline: 1px #000 solid;
          td {
            padding: 0 10px;
          }
          &.missing {
            background: #c06268;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  table {
    margin: 0 auto;
    td.edit {
      width: 30px;
    }
    tbody {
      outline: 1px #000 solid;
    }
  }
  .create-item.input-form {
    @media screen and (max-width: 500px) {
      width: 90%;
      display: block;
      margin: 0 auto;
      font-size: 18px;
      label {
        display: block;
        margin: 5px 0;
      }
      button {
        display: block;
        font-size: 20px;
        margin: 5px 0;
      }
    }
  }
}
