.wedding-shizznit {
  padding: 50px 0; }
  .wedding-shizznit .navbar {
    position: fixed;
    top: 0;
    background: #FFF;
    padding: 1em;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid;
    list-style-type: none;
    z-index: 1; }
    .wedding-shizznit .navbar li {
      display: inline-block;
      margin: 0 10px; }
      .wedding-shizznit .navbar li a {
        color: #000; }
        .wedding-shizznit .navbar li a:visited {
          color: #000; }
        .wedding-shizznit .navbar li a.active {
          color: #6969ff; }
  .wedding-shizznit .item-list h3 {
    margin-left: 10px; }
  .wedding-shizznit .mobile {
    position: relative; }
    .wedding-shizznit .mobile .right {
      text-align: right; }
    .wedding-shizznit .mobile .filters {
      display: none;
      width: 90%;
      margin: 20px auto; }
      .wedding-shizznit .mobile .filters.active {
        display: block; }
      .wedding-shizznit .mobile .filters label {
        display: block; }
      .wedding-shizznit .mobile .filters select {
        font-size: 14px; }
    .wedding-shizznit .mobile .filterToggle {
      position: absolute;
      top: -25px;
      right: 10px; }
      .wedding-shizznit .mobile .filterToggle:hover {
        cursor: pointer; }
    .wedding-shizznit .mobile .overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background: darkgrey;
      height: 100vh;
      width: 100vw;
      opacity: 0.7; }
    .wedding-shizznit .mobile .popup {
      z-index: 5;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: #FFF;
      width: 90%;
      padding: 15px;
      border: 1px solid #000; }
      .wedding-shizznit .mobile .popup div {
        margin: 5px 0; }
      .wedding-shizznit .mobile .popup .close {
        position: absolute;
        top: 10px;
        right: 10px; }
        .wedding-shizznit .mobile .popup .close:hover {
          cursor: pointer; }
      .wedding-shizznit .mobile .popup table {
        margin: 0 10%;
        width: auto; }
        .wedding-shizznit .mobile .popup table tbody, .wedding-shizznit .mobile .popup table tr {
          outline: none;
          height: auto; }
    .wedding-shizznit .mobile table {
      table-layout: fixed;
      width: 90%;
      border-collapse: collapse; }
      .wedding-shizznit .mobile table tbody {
        outline: none; }
        .wedding-shizznit .mobile table tbody tr {
          height: 75px;
          outline: 1px #000 solid; }
          .wedding-shizznit .mobile table tbody tr td {
            padding: 0 10px; }
          .wedding-shizznit .mobile table tbody tr.missing {
            background: #c06268; }
          .wedding-shizznit .mobile table tbody tr:hover {
            cursor: pointer; }
  .wedding-shizznit table {
    margin: 0 auto; }
    .wedding-shizznit table td.edit {
      width: 30px; }
    .wedding-shizznit table tbody {
      outline: 1px #000 solid; }
  @media screen and (max-width: 500px) {
    .wedding-shizznit .create-item.input-form {
      width: 90%;
      display: block;
      margin: 0 auto;
      font-size: 18px; }
      .wedding-shizznit .create-item.input-form label {
        display: block;
        margin: 5px 0; }
      .wedding-shizznit .create-item.input-form button {
        display: block;
        font-size: 20px;
        margin: 5px 0; } }
